
a {
  text-decoration: none;
  color: black; 
}
a:hover{
  text-decoration: none; 
}
.about-text {
  font-size: 1.2em; 
}
.bottom {
  position: relative;
  bottom: 0;
}
.center {
  text-align: center; 
}
.dashed-edge{
  padding: 10px; 
  border: 2px lightblue dashed;
  border-radius: 5px; 
}
.dashed-edge-tight{
  border: 2px lightblue solid;
  border-radius: 5px; 
  padding: 10px; 
  margin-bottom: 15vw;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: whitesmoke;
}
.emphasis {
  font-weight: 500; 
  color: #FA771E; 
}
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-box-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-box-evenly {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.float-bottom {
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(88, 83, 83);
  color: white;
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  height: 7vh; 
  padding: 10px; 
}
.header-link:hover{
  color: black; 
}
.header-padding{
  text-align: left; 
  margin-left: 5vh; 
  margin-bottom: 5px; 
  padding-bottom: 5vh; 
}
.headline{
  text-align: center;
  margin-top: 5px;
  padding-top: 5vh;
  margin-bottom: 5px; 
  padding-bottom: 5vh; 
}
h1 {
  font-family: 'Inconsolata', monospace;
}
h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 3em;
}
h3 {
  font-family: 'Inconsolata', monospace;
  font-size: 2em; 
}
html, body {
  font-family: 'Archivo', sans-serif;
}
.icon-div {
  margin: 2px; 
}
.jumbotron{
  margin-bottom: 0px; 
}
.left {
  text-align: left; 
}
.license-link{
  color: thistle;
  margin-left: 5px; 
  margin-right: 15vw; 
}
.link {
  color: rgb(68, 68, 182);
}
.main {
  margin-bottom: 25vh; 
}
.margin-bottom {
 margin-bottom: 4vh; 
}
.margin-top {
  margin-top: 15vh;
}
.mobile-nav-item{
  padding: 5px; 
  font-size: 1.5em;
  margin: 0; 
  text-align: center; 
}
.nav-background {
  margin-bottom: 10vh; 
  margin-left: 5vw;
  margin-right: 5vw;
}
.nav-drop{
  list-style-type: none;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em; 
  margin-bottom: 0;
  padding-bottom: 0;
}
.nav-item {
  font-size: 1.5em; 
  font-family: 'Inconsolata', monospace;
  padding: 10px; 
  border: 2px lightblue dashed;
  border-radius: 5px; 
}
.packages-div {
  height: 450px; 
  padding: 5px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  text-align: center;
  background-color: white;
  border: 1px gray solid; 
}
.padding {
  padding: 5px;
}
.padding-top {
  margin-top: 20vh;
  padding-top: 5px; 
}
.project-card-text{
  padding: 3px;
}
.relative {
  width: 100%;
}
.row-padding {
  padding: 40px; 
}
.services-div {
  height: 500px; 
  padding: 5px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  text-align: center;
}
.skills-list{
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em; 
}
.subheading {
  font-style: italic; 
  margin-left: 5px; 
}
.spacing {
  padding: 10px; 
}
.thumbnail {
  height:50px;
  width: 50px;
  border: 1px black solid; 
  margin: 3px; 
}
.white {
  background-color: #eaf9f9;
}
body, html {
  background-color: #eaf9f9;
  margin: 0; 
  padding: 0; 
}
@media (max-width:629px) {
  img#screenshot {
    display: none;
  }
}
