
a, .link {
  text-decoration: none;
  background-color: #D1FCE9;
  color: #0B4F6C;
}
a:hover, .link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #cc33ad;
}
a:active, .link:active {
  text-decoration: none;
}
.about-text-true > p {
  font-size: 1.1em;
  line-height: 1.75; 
  font-family: 'Roboto Mono', monospace;
  padding: 5px;
}

.about-text-false > p {
  line-height: 2; 
  font-family: 'Roboto Mono', monospace;
  margin: 10px;
  padding: 10px;
}
.baseline {
  align-items: baseline; 
}
.blue {
  background-color: #D1FCE9;
}
.button {
  padding: 10px;
  margin: 10px;
  background-color: #D1FCE9;
  color: #cc33ad;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 2px;
  cursor: pointer;
}
.breathing-room {
  margin-top: 20vh; 
}

.box {
  border: 2px dashed #0B4F6C;
  padding: 10px
}
.center {
  text-align: center; 
}
.choice {
  padding: 20px;
  margin: 10px;
  background-color: #D1FCE9;
  color: #cc33ad;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 2px;
  cursor: pointer;
}
.choice:hover{
  color: #0B4F6C;
}
.choice > span {
  font-size: 1.1em;
}
.dashed-edge{
  padding: 10px; 
  border: 2px lightblue dashed;
  border-radius: 5px; 
}
.dashed-edge-tight{
  border: 2px lightblue solid;
  border-radius: 5px; 
  padding: 10px; 
  margin-bottom: 15vw;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: whitesmoke;
}
.explainer {
  background-color: #D1FCE9;
  padding: 50px;
  margin-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;
  font-size: 1.05em;
}
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-box-between {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-box-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-box-evenly {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-box-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.float-bottom {
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(88, 83, 83);
  color: white;
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  height: 7vh; 
  padding: 10px; 
}
.gray {
  background: linear-gradient(rgba(204, 51, 173, .3));
}
.header-link{
  color: black; 
  margin: 0;
}

.headline{
  text-align: center;
  margin-top: 5px;
  padding-top: 5vh;
  margin-bottom: 5px; 
  padding-bottom: 5vh; 
}
h1 {
  font-family: 'Roboto Mono', monospace;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}
h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em; 
}

.invisible {
  height: 5px;
}
.lars {
  height: 300px;
  border-radius: 10%;
  max-width: 95%;
}
.list-border {
    border-top: 2px dashed #cc33ad;
    padding-top: 10px;
}
.main {
  margin-bottom: 25vh; 
}
.margin-bottom {
 margin-bottom: 5vh; 
}
.margin-top {
  margin-top: 10vh;
}
.name-header {
  font-size: 2.2em; 
  margin-top: 5vh;
  text-decoration: none;
}

p{
  font-size: 1.1em;
}
.padding {
  padding: 5px;
}
.padding-top {
  margin-top: 20vh;
  padding-top: 5px; 
}
.project-card{
  padding: 15px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
}
.project-card > p {
  margin-top: 2vh;
}
.project-card > h3 {
  font-weight: 800;
  text-align: center;
}
.project-card > img {
  max-width: 100%;

}
.relative {
  width: 100%;
}
.responsive-img{
  width: 100%;
  height: auto; 
}
.right {
  margin-left: 90%;
}
.row-padding {
  padding: 40px; 
}

.smaller-header {
  font-size: 2.7em; 
  margin-top: 1vh;
  text-decoration: none;
  color: black; 
}
.subheading { 
  margin-left: 1%; 
  color: #cc33ad;
}
.nav {
  padding: 5px;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
  color: #0B4F6C;
}

.space { margin: 10px;}
.spacing {
  padding: 10px; 
}
.spacer {
	height: 5vh;
}
.thumbnail {
  height:50px;
  width: 50px;
  border: 1px black solid; 
  margin: 3px; 
}
.white {
  background-color: white;
}
ul{
  list-style-type: circle;
  font-size: 1.1em;
  font-family: 'Roboto Mono';
}
body, html {
  color: black; 
  margin: 5px; 
  padding: 0; 
  font-family: 'Roboto', sans-serif;
}

/* For mobile: */
[class*="column-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .column-md-1 {width: 8.33%;}
  .column-md-2 {width: 16.66%;}
  .column-md-3 {width: 25%;}
  .column-md-4 {width: 33.33%;}
  .column-md-5 {width: 41.66%;}
  .column-md-6 {width: 50%;}
  .column-md-7 {width: 58.33%;}
  .column-md-8 {width: 66.66%;}
  .column-md-9 {width: 75%;}
  .column-md-10 {width: 83.33%;}
  .column-md-11 {width: 91.66%;}
  .column-md-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .column-1 {width: 8.33%;}
  .column-2 {width: 16.66%;}
  .column-3 {width: 25%;}
  .column-4 {width: 33.33%;}
  .column-5 {width: 41.66%;}
  .column-6 {width: 50%;}
  .column-7 {width: 58.33%;}
  .column-8 {width: 66.66%;}
  .column-9 {width: 75%;}
  .column-10 {width: 83.33%;}
  .column-11 {width: 91.66%;}
  .column-12 {width: 100%;}
}

