
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none; 
}
.project-card {
  padding: 5%;
  height: 550px; 
  margin-left: .5vw;
  margin-right: .5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  align-content: left; 
  border: 1px solid gray;
  text-align: center; 
  background-color: white; 
 
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}
.flex-box-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-box-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
footer {
  margin-right: 5vw;
  margin-top: 5vh;
  height: 10vh;
  text-align: right;
}
.github-link{
  margin-top: 5vh; 
}
h2 {
  font-size: 3em;
}
.icon-div {
  margin: 2px; 
}
.jumbotron{
  margin-bottom: 0px; 
}
.margin-bottom {
 margin-bottom: 4vh; 
}
.margin-top {
  margin-top: 5vh;
}
.padding {
  padding: 3px;
}
.project-card-text{
  padding: 3px;
}
.white {
  background-color: #eaf9f9;
}
body, html {
  background-color: #eaf9f9;
}